<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    {{!-- weather form start --}}
    <div class="formMain">
        <div class="inputForm">
            <input type="text" id="cityName" placeholder="Enter City Name ..." autocomplete="off" />
            <button id="weatherBtn">Search</button>
        </div>
        <div class="weatherInfo">
            <div class="weatherTop">
                <p>Monday</p>
                <p>24 jan 2022</p>
            </div>
            <div class="weatherBottom data-hide">
                <p id="city_name" style="margin-top: 20px;" >Kar,Pakistan</p>
                <h1><span id="temp">0</span><sup>o</sup>C</h1>
                <div id="temp_status"></div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="js/main.js"></script>
</body>

</html>